/* src/components/dateTimeWidget/dateTimeWidget.css */
.dateTimeWidget {
  font-family: Arial, sans-serif;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-bottom: 40px;
  border-width: 5px;
  margin-left: 890px;
  margin-right: 40px;
}
