.home {
  display: flex;
}

.home h1{
  color: #FFDF16;
}

.homeContainer{
  background: linear-gradient(to bottom, #FFFFFF,  #F8C400);
  flex: 6;
}

.widgets{
  display: flex;
  padding: 20px;
  gap: 40px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -20px;
}


/* Centered and bold greeting text */
.greeting p{
  font-size: 50px; /* Slightly larger font size */
  font-weight: bold; /* Bold text */
  text-align: center; /* Center the text horizontally */
  color: maroon;
  margin-bottom: 20px; /* Add some space below the greeting */
}

.search-bar-container{
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
}