.list {
  display: flex;
  width: 100%;
}

.listContainer{
  background: linear-gradient(to bottom, #FFFFFF, #CEA108);
  flex: 6;
}

.backButton{
  color: maroon;
  font-size: 100px;
  cursor: pointer;
  margin: 20px;
}