.connect{
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.connectContainer{
  background: linear-gradient(to bottom, #FFFFFF, #CEA108);
  flex: 6;
  height: 100%;
}

.tops{
  padding: 20px;
  display: flex;
  gap: 20px;
}

.lefts, .rights{
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 10px 10px 16px -4px rgba(128,0,0,0.48);
  -moz-box-shadow: 10px 10px 16px -4px rgba(128,0,0,0.48);
  box-shadow: 10px 10px 16px -4px rgba(128,0,0,0.48);
  border-radius: 10px;
  position: relative;
  background-color: #FFFFFF;
}

.items{
  display: flex;
  gap: 20px;
}

.itemImgs{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.editButtons{
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 12px;
  color: maroon;
  background-color: gold;
  cursor: pointer;
  border-radius: 0 5px 0 5px;
}

.deleteButtons{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 12px;
  color: gold;
  background-color: maroon;
  cursor: pointer;
  border-radius: 5px 0 5px 0;
}

.itemTitles{
  margin-bottom: 10px;
  color: maroon;
}

.detailItems{
  margin-bottom: 10px;
  font-size: 14px;
}

.itemKeys{
  font-weight: bold;
  color: maroon;
  margin: 5px;
}

.itemValues{
  font-weight: 200;
  color: black;
}

.titles{
  font-size: 16px;
  color: rgba(128, 0, 0, 0.445);
  margin-bottom: 20px;
}