.datatable{
  height: 550px;
  padding: 20px;
}

.cellWithImg{
  display: flex;
  align-items: center;
}

.cellImg{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.cellWithRole {
  padding: 5px;
  border-radius: 5px;
}

.cellAction{
  display: flex;
  align-items: center;
  gap: 15px;
}

.viewButton{
  padding: 2px 5px;
  border-radius: 5px;
  background-color: gold;
  color: maroon;
  cursor: pointer;
}

.deleteButton{
  padding: 2px 5px;
  border-radius: 5px;
  background-color: maroon;
  color: gold;
  cursor: pointer;
}

.datatableTitle{
  width: 100%;
  font-size: 24;
  color: maroon;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkdt{
  text-decoration: none;
  color: maroon;
  border: 1px solid maroon;
  border-radius: 5px;
  font-weight: 400;
  padding: 5px;
  cursor: pointer;
}

.filterSection {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px; /* Add some space between dropdown and textbox */
}

.filterSection .MuiFormControl-root {
  min-width: 200px; /* Set a specific width for the dropdown */
}

.filterSection .MuiTextField-root {
  flex: 1; /* Allow the textbox to take the remaining space */
  max-width: 1000px; /* Limit the maximum width of the textbox */
}
