.widgetSched {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: maroon;
  color: gold;
  border-radius: 10px;
  box-shadow: 10px 10px 16px -4px rgba(128, 0, 0, 0.48);
  gap: 10px;
}

.classItemS {
  flex: 1 1 calc(25% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.leftwS, .rightwS {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.classImageCircle {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%; /* Makes the image circular */
}

.wtitleS {
  font-weight: bold;
  font-size: 16px;
}

.counter {
  font-size: 14px;
}

.ongoingTag {
  font-weight: bold;
  color: green;
  font-size: 14px;
  margin-top: 5px;
}

.linkwS {
  width: max-content;
  font-size: 12px;
  border-bottom: 1px solid gold;
  text-decoration: none;
  color: gold;
  margin-top: 5px;
}

.linkwS:hover {
  color: white;
}

.ongoingTag {
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
}

.ongoingTag {
  color: green; /* Change color based on ongoing status */
}

.ongoingTag:not(.ongoing) {
  color: red; /* Color for "Not Ongoing" */
}

.filterSection2 {
  position: relative;
  top: -170px;
  left: -20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px; /* Add some space between dropdown and textbox */
}

.filterSection2 .MuiFormControl-root {
  min-width: 200px; /* Set a specific width for the dropdown */
}

.filterSection2 .MuiTextField-root {
  flex: 1; /* Allow the textbox to take the remaining space */
  max-width: 1000px; /* Limit the maximum width of the textbox */
}

.widgetSched{
  /* margin-top: 0px;
  margin-left: -25px; */
  position: relative;
  top: -200px;
  left: -20px;
  margin-bottom: -160px;
}