.sched {
  display: flex;
}

.sched h1{
  color: #CEA108;
}

.schedContainer{
  background: linear-gradient(to bottom, #FFFFFF, #CEA108);
  flex: 6;
}

.widgets{
  display: flex;
  padding: 20px;
  gap: 40px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -20px;
}
