.home {
  display: flex;
  justify-content: flex-start;  /* Aligns items to the start */
  align-items: stretch;         /* Makes items stretch to fill the height */
  height: 100vh;                /* Makes the container take the full viewport height */
}

.homeContainer {
  background: linear-gradient(to bottom, #FFFFFF, #CEA108);
  flex: 6;
  display: flex;                /* Enables Flexbox for child elements */
  flex-direction: column;       /* Stack children vertically */
  justify-content: flex-start;  /* Aligns children to the top */
}

.contentContainer {
  display: flex;                /* Enables Flexbox for centering */
  justify-content: center;      /* Centers content horizontally */
  align-items: center;          /* Centers content vertically */
  height: 100%;                 /* Takes the full height of the parent */
}
