.selectlist2 {
  display: flex;
  width: 100%;
}

.selectlist2Container{
  background: linear-gradient(to bottom, #FFFFFF, #CEA108);
  flex: 6;
}

.backButton{
  color: maroon;
  font-size: 100px;
  cursor: pointer;
}